*{
    padding: 0px;
    margin: 0px;
}
div#principal{
    position: absolute;
    margin-left: 200px;
    background-color: #fff;
    width: 982px;
    box-shadow: 2px 2px 4px rgba(0,0,0.6);
    height: 2678px;
}
header#cabecalho{
    background: linear-gradient(0deg, rgba(34,193,195,0.5) 0%, rgba(253,187,45,1) 100%);
    height: 115px;
    text-align: center;
    box-shadow: 0px 1px 3px black;

}
div#logomarca{
    position: absolute;
    top: 5px;
    margin: 20px;
    width: 200px;
    height: 100px;
}
#marca{
    position: relative;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 100px;
}
div#icone{
    position: absolute;
    width: 180px;
    left: 875px;
    top: 30px;
    height: 80px;
}
div#icone img{
    width: 130px;
    height: 80px;
}
header h1{
    display: block;
    position: absolute;
    top: 25px;
    left: 195px;
    color: rgba(77, 197, 245, 0.788);
    font-family: 'Lemonada', cursive;
    font-size: 46px;
    padding: 15px;
    text-shadow: 5px 5px 3px rgba(0,0,0,.8);
}
header h1 span{
    font-size: 50px;
    color: #495863;
}
header h2{
    display: none;
}
ul{
    position: absolute;
    display: flex;
    left: 580px;
    top: -22px;
    margin-right: 25px;
    padding: 10px;
}
li{
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    margin: 1px 20px 10px 20px;
    font-family: 'Lemonada', cursive;
    font-size: 17px;
    font-weight: bold;
    color: rgb(47, 61, 105);
}
li:hover{
    background-color: #777;
    border-radius: 20%;
    color: #eee;
}
article#conteudo{
    padding: 3px;
    position: relative;
    display: block;
    margin: auto;
    font-size: 1em;
    width: 100%;
    justify-content: center;
    text-indent: 5px;
    height: 310px;
}
article p::first-letter{
    font-size: 20px;
}
article#conteudo h1{
    font-family: 'Lemonada', cursive;
    background-image: linear-gradient( to left,rgba(235, 233, 233,.9), gray);
    margin-bottom: 5px;
    text-align-last: center;
    margin-right: 6px;
}
article#conteudo{
    letter-spacing: 2px;
    font-size: 11pt;
    font-family: 'Lemonada', cursive;
    text-align: center;
}
div#galeria{
    position: relative;
    display: block;
    width: 100%;
    height: 520px;
    text-align: center;
    margin-top: 10px;
    margin-left: -5px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    overflow: hidden;
}
div.foto{
    display:  inline-block;
    box-shadow: 2px 2px 3px rgba(0,0,0.6);
    margin: 5px auto 5px auto;
    padding: 5px;
    width: 300px;
    height: 237px
}
div#galeria img:hover{
   	transform: scale(1.1);
}
div#galeria img{
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 300px;
    height: 230px;
    max-width: 100%;
	transition: all 0.4s;
}
div#video{
    position: relative;
    left:auto;
    top: 1px;
    padding: 5px;
    margin: auto;
    border: 1px solid #eee;
    width: 100%px;
    height: 427px;
    box-shadow: 1px 1px rgba(0,0,0,.6);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
iframe#tube{
    position: relative;
    left: 8px;


}
section{
    display: block;
    position: relative;
    width: 980px;
    margin-top: 3px;
  
    
}
div#dica{
position: relative;
top: 60px;
display: block;
}
div#dica h1{
    display: block;
    font-family: 'Lemonada', cursive;
    text-align: center;
}


  div#social{
      display: flex;
      position: relative;
      margin: 0;
      padding: 0;
      box-shadow: 0px -2px 1px rgba(0,0,0.6);
      top: 1420px;
  }
  div#recados{
      position: absolute;
      width:979px;
      height: 800px;
      top: 1140px;
      background: linear-gradient(45deg, rgba(34,193,195,0.3) 0%, rgba(253,187,45,0.4) 100%);
  }
  .accordion {
    background-color: rgba(0, 0, 0,0.34);
    color: #444;
    cursor: pointer;
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
  }
  .accordion h2{
      font-family: 'Lemonada', cursive;
      font-size: 15px;
      width: 100%;
      text-align: center;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
    text-decoration: underline;
    color: #fff;
  }
  
  .panel {
    padding: 0 18px;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: bold;
    font-family: 'Lemonada', cursive;;
    text-align: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display: none;
    overflow: hidden;
    
  }
  
  div#dicaa{
      display: block;
      position: relative;
      font-size: 12pt;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.232);
      letter-spacing: -1.3px;
      text-align: center;
      line-height: 20px;
      font-family: 'Lemonada', cursive;
      width: 430px;
      top: 20px;
      height: 130px;
      margin: 15px 10px 15px 10px;
      padding: 12px;
      box-shadow: 2px 2px 4px rgba(0,0,0.3);
      
  }
  div#dicab{
    font-size: 12pt;
    letter-spacing: -1.3px;
    box-shadow: 2px 2px 3px rgba(0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.232);
    letter-spacing: -1.3px;
    text-align: center;
    line-height: 20px;
    text-align: center;
    font-family: 'Lemonada', cursive;
    display: block;
    position: relative;
    left: 499px;
    top: -152px;
    width: 430px;
    height: 135px;
    margin: 15px 10px 15px 10px;
    padding: 12px;
    
    
}
div#dicac{
    font-size: 12pt;
    letter-spacing: -1.3px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.232);
    letter-spacing: -1.3px;
    text-align: center;
    line-height: 20px;
    font-family: 'Lemonada', cursive;
    box-shadow: 2px 2px 3px rgba(0,0,0.3);
    display: block;
    position: relative;
    left: 499px;
    top: -150px;
    width: 430px;
    height: 155px;
    margin: 15px 10px 15px 10px;
    padding: 12px;
    
    
}
div#dicad{
    display: block;
    position: relative;
    font-size: 12pt;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.232);
    letter-spacing: -1.3px;
    text-align: center;
    line-height: 20px;
    letter-spacing: -1.3px;
    box-shadow: 2px 2px 3px rgba(0,0,0.3);
    text-align: center;
    font-family: 'Lemonada', cursive;
    left: 2px;
    top: -347px;
    width: 430px;
    height: 100px;
    margin: 15px 10px 15px 10px;
    padding: 12px;
    
    
}
div#dicae{
    display: block;
    position: relative;
    font-size: 12pt;
    letter-spacing: -1.3px;
    text-align: center;
    font-family: 'Lemonada', cursive;
    box-shadow: 2px 2px 3px rgba(0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.232);
    letter-spacing: -1.3px;
    text-align: center;
    line-height: 20px;
    left: 240px;
    top: -260px;
    width: 430px;
    height: 175px;
    margin: 15px 10px 15px 10px;
    padding: 12px;
    
}
div#social{
    position: relative;
    top: 1593px;
    border: none;
    height: 145px;
    border: none;
    padding: 20px;
    margin: 30px auto;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,.3) 100%);
    
}
div#social p {
    text-shadow: 1px 1px rgba(0,0,0.3);
    font-weight: bold;
    font-family: 'Lemonada', cursive;
    font-size: 17px;
    padding: 0;
   
}
div#social img{
    position: relative;
    left: 150px;
    top: 40px;
    margin: 35px;
    width: 45px;
    height: 45px;
    opacity: 0.5;
}
div#social img:hover{
   opacity: 1;
   transform: rotate(10deg);
 
}
  